<div class="footer">
  <div class="fixedfooter">
    <p style="margin-top: inherit; font-size: 20px;">Follow Me @ 
      <a href="https://github.com/KaushalShah1307/" target="_blank"><i class="fa fa-github-square"></i></a>    
      <a href="https://www.linkedin.com/in/kaushalshah13/" target="_blank"><i class="fa fa-linkedin-square"></i></a>    
      <a href="https://www.facebook.com/KaushalShah1307" target="_blank"><i class="fa fa-facebook-square"></i></a> 
      <a href="https://twitter.com/KaushalShah1307" target="_blank"><i class="fa fa-twitter-square"></i></a> 
      <a href="https://plus.google.com/u/0/+KaushalShah1307" target="_blank"><i class="fa fa-google-plus-square"></i></a> 
      <a href="https://www.instagram.com/kaushalshah1307/" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://medium.com/@kaushalshah1307/" target="_blank"><i class="fa fa-medium"></i></a>
    </p>
    <p>
      All rights are reseved TM ® and copyright © 2021 by Kaushal Shah
    </p>
  </div>
</div>
