.m6 {
    text-align: center;
}

.skills {
    margin-top: 10px;
    margin-right: 5px;
}

.leftdiv {
    padding-left: 0px;
    padding-right: 0px;
}

a {
    color: white;
}

a.hover {
    color: white;
    text-decoration: underline;
}