<!-- Contact Modal -->
<div id="contact" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
      <div class="w3-container w3-black w3-display-container">
        <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
        <h1 style="text-align:center; padding-top: 15px;">Wo Am I?</h1>
        <h4 style="text-align:center;">I'm Kaushal Shah, a tech-enthu from New Jersey, with a dreamy combo of being a Developer, Writer and Poet!</h4>
      </div>
      <div class="w3-row w3-black">
        <div class="w3-col w3-container m6 l6">
            <button class="w3-button w3-round-large connectbuttons"> <a href="mailto:KaushalShah1307@gmail.com?subject=Nice to meet you Kaushal Shah!"><i class="fa fa-envelope" aria-hidden="true"></i></a> Let's Connect!</button>
            <h3><i class="fa fa-bath" aria-hidden="true"></i> Find Me:</h3>
          <p class="lead ng-binding"> 78 Palisade Ave, <br>Apt 3, <br>Jersey City, NJ - 07306</p>
        </div>
        <div class="w3-col w3-container m6 l6">  
          <h3><i class="fa fa-handshake-o" aria-hidden="true"></i> Reach Me:</h3>
          <p class="lead ng-binding"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a style="color: white;" href="mailto:KaushalShah1307@gmail.com?subject=Nice to meet you  Kaushal Shah!" class="ng-binding">KaushalShah1307@gmail.com</a><br><i class="fa fa-mobile" aria-hidden="true"></i> +1 732.662.8228<br><a style="color: white;" href="https://goo.gl/maps/PYnmBAMyDB92" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> Google Map Location</a></p><a href="https://goo.gl/maps/PYnmBAMyDB92" target="_blank">
        </a>
        </div>
    </div>
    </div>
  </div>
