<!-- Contact Modal -->
<div id="contact" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
      <div class="w3-container w3-black w3-display-container">
        <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
        <!-- Page Container -->
      <div class="w3-content w3-margin-top" style="max-width:1400px;">
    
      <!-- The Grid -->
      <div class="w3-row-padding">
      
          <!-- Left Column -->
          <div class="w3-third">
        
            <div class="w3-black w3-text-grey w3-card-4">
              <div class="w3-display-container">
                <img src="../assets/logo/kaushal-shah-brand.png" style="width:220px; height:220px; margin-left: 10px;" alt="Avatar">
              </div><hr>
              <div class="w3-container w3-text-white">
                <a href="https://www.linkedin.com/in/kaushalshah13/" target="_blank"><p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Principal Automation Engineering Consultant</p></a>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Greater New York City Area</p>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Greater Vadodara Area, India</p>
                <a href="mailto:kaushalshah1307@gmail.com?Subject=Hello%20Kaushal"><p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>kaushalshah1307@gmail.com</p></a>
                <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>878.008.8003</p>
                <a href="https://kaushalshah.xyz"><p><i class="fa fa-globe fa-fw w3-margin-right w3-large w3-text-teal"></i>kaushalshah.xyz <span class="w3-tag w3-teal w3-round tags"> Portfolio</span></p></a>
                <a href="https://github.com/KaushalShah1307"><p><i class="fa fa-code-fork fa-fw w3-margin-right w3-large w3-text-teal"></i>@KaushalShah1307 <span class="w3-tag w3-teal w3-round tags"> GitHub</span></p></a>
                <a href="https://medium.com/@kaushalshah1307"><p><i class="fa fa-rss fa-fw w3-margin-right w3-large w3-text-teal"></i>medium.com/@kaushalshah1307 <span class="w3-tag w3-teal w3-round tags"> Publications</span></p></a>

                <a href="../assets/resume/Kaushal-Shah-Resume.pdf" target="_blank">
                  <button class="w3-button w3-teal w3-padding-large w3-section w3-round-large resume-button">
                    <i class="fa fa-download"></i> Download Resume
                  </button>
                </a>
      
                <h2 class="w3-text-white w3-padding-16"><i class="fa fa-cogs fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Skills</h2>
                <h5 class="w3-opacity"><b>Code</b></h5>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <span class="w3-tag w3-teal w3-round skills" *ngFor="let codingskills of code">
                    {{codingskills}}
                  </span>
                </div><br>
                <h5 class="w3-opacity"><b>Automation</b></h5>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <span class="w3-tag w3-teal w3-round skills" *ngFor="let automationskills of automation">
                    {{automationskills}}
                  </span>
                </div><br>
                <h5 class="w3-opacity"><b>Continuous Integration & Tools</b></h5>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <span class="w3-tag w3-teal w3-round skills" *ngFor="let toolings of tools">
                    {{toolings}}
                  </span>
                </div><br>
                <h5 class="w3-opacity"><b>Configurations</b></h5>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <span class="w3-tag w3-teal w3-round skills" *ngFor="let configs of configurations">
                    {{configs}}
                  </span>
                </div>
                <hr>
                <h2 class="w3-text-white w3-padding-16"><i class="fa fa-thumbs-up fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>References</h2>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <h5 class="w3-opacity"><b>Available upon request</b></h5>
                </div>
              </div>
            </div><br>
    
          <!-- End Left Column -->
          </div>
    
          <!-- Right Column -->
          <div class="w3-twothird">
        
            <div class="w3-container w3-card w3-black w3-margin-bottom">
              <h2 class="w3-text-white w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Experience</h2>
              <div class="w3-container">
                <a href="https://www.pmcretail.com/" target="_blank"><h5 class="w3-opacity"><b>Principal Automation Consultant /</b> <i>Paul Mason Consulting, India</i></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2021 - <span class="w3-tag w3-teal w3-round">Present</span></h6>
                <p>- Oversee business-wide changes to modernize procedures and organization.<br>
                   - Shaped solutions and approaches by leveraging trends in customer marketplaces and industries.<br>
                   - Managed teams of tech professionals focused on improving strategical initiatives.
                </p>
              </div>
              <div class="w3-container">
                <a href="https://www.pmcretail.com/" target="_blank"><h5 class="w3-opacity"><b>Customer Delivery and Automation Lead /</b> <i>Paul Mason Consulting, India</i></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2018 - August 2021</h6>
                <p>- Collaboration with leadership and pre-sales team to deliver quality and timely projects.<br>
                   - Steer modern practice advances while applying best-in-class technology stacks.
                </p>
              </div>
              <div class="w3-container">
                <a href="https://execthread.com/team" target="_blank"><h5 class="w3-opacity"><b>Head of Quality Assurance /</b> <i>ExecThread, USA</i></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2017 - September 2018</h6>
                <p>- Designed automation engineering strategies and plans to promote continuous improvement.
                </p>
              </div>
              <div class="w3-container">
                <a href="https://www.forbes.com/sites/qa/people/kaushalshah/" target="_blank"><h5 class="w3-opacity"><b>Lead Software Automation Engineer /</b> <i>Forbes Media, USA</i></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2013 - September 2017</h6>
                <p>- Trained developers and testers in automation programs and processes.<br>
                   - Researched and selected automation frameworks and tools, prioritizing cost-effective solutions.
                </p>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Software Engineering Analyst /</b> <i>Polo Ralph Lauren, USA</i></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2013 - May 2013</h6>
                <p>- Reviewed project specifications and designed technology solutions that met delivery expectations.
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Application Developer Analyst Intern /</b> <i>SumTotal Systems, USA</i></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2012 - January 2013 <span class="w3-tag w3-teal w3-round tags"> Internship</span></h6>
                <p>- Prioritized assigned change requests and completed in order of priority.<br>
                   - Partnered with company mentor to learn best practices in software design and development.
                </p>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Graduate Research and Teaching Assistant /</b> <i>New Jersey Institute of Technology, USA</i></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2011 - January 2012</h6>
                <p>- Assisted faculty with administrative tasks viz. documentation, collecting assignments and study material.<br>
                   - Mentored students through office hours and one-on-one communication.
                </p>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Academic Advisor /</b> <i>Sigma Institute of Technology & Engineering, India</i></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2010 - June 2011</h6>
                <p>- Reviewed student files to meet deadlines for completing various graduation requirements.<br>
                   - Coordinated follow up and student outreach to monitor academic progress for at-risk students.
                </p>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Software Engineer Developer /</b> <i>Oorja Tech, India</i></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>December 2006 - May 2010</h6>
                <p>- Authored clean and tested code fixes and enhancements for future code releases and patches.<br>
                   - Partnered with development team on product development, application support plans, and prototype programs.
                </p>
              </div>
            </div>
    
            <div class="w3-container w3-card w3-black">
              <h2 class="w3-text-white w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
              <div class="w3-container">
                <a href="https://computing.njit.edu/" target="_blank"><h5 class="w3-opacity"><b>New Jersey Institute of Technology</b></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2011 - May 2013</h6>
                <p>Computer & Information Sciences <span class="w3-tag w3-teal w3-round tags">Masters Degree</span></p>
                <hr>
              </div>
              <div class="w3-container">
                <a href="http://www.sinhgad.edu/sinhgad-engineering-institutes/" target="_blank"><h5 class="w3-opacity"><b>Univerity of Pune</b></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2006 - May 2010</h6>
                <p>Computer Engineering <span class="w3-tag w3-teal w3-round tags">Bachelors Degree</span></p>
                <hr>
              </div>
            </div>
<!-- 
            <div class="w3-container w3-card w3-black">
              <h2 class="w3-text-white w3-padding-16"><i class="fa fa-pencil fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Publications</h2>
              <div class="w3-container">
                <a href="https://medium.com/viewshare" target="_blank"><h5 class="w3-opacity"><b>ViewShare</b></h5></a>
                <p>A platform to portray my thoughts, feelings & expressions in form of words</p>
                <hr>
              </div>
              <div class="w3-container">
                <a href="https://medium.com/how-tos-for-coders" target="_blank"><h5 class="w3-opacity"><b>How To's for Coders?</b></h5></a>
                <p>At How To's, you can find a source highlighting programming hacks, tricks and awesome findings…</p>
                <hr>
              </div>
            </div> -->
    
        <!-- End Right Column -->
          </div>
        
      <!-- End Grid -->
        </div>
      
      <!-- End Page Container -->
      </div>
    </div>
    </div>
  </div>
