<!-- Contact Modal -->
<div id="contact" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
      <div class="w3-container w3-black w3-display-container">
        <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
        <!-- Page Container -->
      <div class="w3-content w3-margin-top" style="max-width:1400px;">
    
      <!-- The Grid -->
      <div class="w3-row-padding">
      
          <!-- Left Column -->
          <div class="w3-third">
        
            <div class="w3-black w3-text-grey w3-card-4">
              <div class="w3-display-container">
                <img src="../assets/logo/kaushal-shah-brand.png" style="width:220px; height:220px; margin-left: 10px;" alt="Avatar">
              </div><hr>
              <div class="w3-container w3-text-white">
                <a href="https://www.linkedin.com/in/kaushalshah13/" target="_blank"><p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Head of Quality Assurance</p></a>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Greater New York City Area</p>
                <a href="mailto:kaushal_shah@live.com?Subject=Hello%20Kaushal"><p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>kaushal_shah@live.com</p></a>
                <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>732.662.8228</p>
                <a href="https://kaushalshah.xyz"><p><i class="fa fa-globe fa-fw w3-margin-right w3-large w3-text-teal"></i>kaushalshah.xyz <span class="w3-tag w3-teal w3-round tags"> Portfolio</span></p></a>
                <a href="https://github.com/KaushalShah1307"><p><i class="fa fa-code-fork fa-fw w3-margin-right w3-large w3-text-teal"></i>@KaushalShah1307 <span class="w3-tag w3-teal w3-round tags"> GitHub</span></p></a>

                <a href="../assets/resume/Kaushal-Shah-Resume.pdf" target="_blank">
                  <button class="w3-button w3-teal w3-padding-large w3-section w3-round-large resume-button">
                    <i class="fa fa-download"></i> Download Resume
                  </button>
                </a>
      
                <h2 class="w3-text-white w3-padding-16"><i class="fa fa-cogs fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Skills</h2>
                <h5 class="w3-opacity"><b>Code</b></h5>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <span class="w3-tag w3-teal w3-round skills" *ngFor="let codingskills of code">
                    {{codingskills}}
                  </span>
                </div><br>
                <h5 class="w3-opacity"><b>Automation</b></h5>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <span class="w3-tag w3-teal w3-round skills" *ngFor="let automationskills of automation">
                    {{automationskills}}
                  </span>
                </div><br>
                <h5 class="w3-opacity"><b>Continuous Integration & Tools</b></h5>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <span class="w3-tag w3-teal w3-round skills" *ngFor="let toolings of tools">
                    {{toolings}}
                  </span>
                </div><br>
                <h5 class="w3-opacity"><b>Configurations</b></h5>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <span class="w3-tag w3-teal w3-round skills" *ngFor="let configs of configurations">
                    {{configs}}
                  </span>
                </div>
                <hr>
                <h2 class="w3-text-white w3-padding-16"><i class="fa fa-thumbs-up fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>References</h2>
                <div class="w3-container w3-round-xlarge leftdiv">
                  <h5 class="w3-opacity"><b>Available upon request</b></h5>
                </div>
              </div>
            </div><br>
    
          <!-- End Left Column -->
          </div>
    
          <!-- Right Column -->
          <div class="w3-twothird">
        
            <div class="w3-container w3-card w3-black w3-margin-bottom">
              <h2 class="w3-text-white w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Experience</h2>
              <div class="w3-container">
                <a href="https://execthread.com/team" target="_blank"><h5 class="w3-opacity"><b>Head of Quality Assurance / ExecThread</b></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>November 2017 - <span class="w3-tag w3-teal w3-round">Present</span></h6>
                <p>- Software Automation framework design, implementation, development and execution.<br>
                   - Implement continuous testing/integration with CI tools.<br>
                   - Provide subject matter expertise for best practices and automation tools relevant to business requirements.
                </p>
              </div>
              <div class="w3-container">
                <a href="https://www.forbes.com/sites/qa/people/kaushalshah/" target="_blank"><h5 class="w3-opacity"><b>Lead QA Automation Engineer / Forbes Media</b></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2015 - September 2017</h6>
                <p>- Architect Automation Testing frameworks and environments<br>
                   - Perform code-review & ensure environment stability.<br>
                   - Document and facilitate communication and troubleshooting of issues, bugs and code changes.
                </p>
              </div>
              <div class="w3-container">
                <a href="https://www.forbes.com/sites/qa/people/kaushalshah/" target="_blank"><h5 class="w3-opacity"><b>QA Engineer / Forbes Media</b></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2013 - September 2015</h6>
                <p>- Architect Forbes`s first and scalable Automation framework.<br>
                   - Introduced Release Management process, workflow and strategies.
                </p>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>IT Associate / Polo Ralph Lauren</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2013 - September 2013</h6>
                <p>- Develop Database queries and generate reports.<br>
                   - Team lead for application transition from GFE to GFE+.</p>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Applications Developer Analyst Intern / SumTotal Systems</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2013 - May 2013 <span class="w3-tag w3-teal w3-round tags"> Internship</span></h6>
                <p>- Develop applications for company’s CRM and ERP system.</p>
              </div>
            </div>
    
            <div class="w3-container w3-card w3-black">
              <h2 class="w3-text-white w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
              <div class="w3-container">
                <a href="https://computing.njit.edu/" target="_blank"><h5 class="w3-opacity"><b>New Jersey Institute of Technology</b></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2011 - May 2013</h6>
                <p>Computer & Information Sciences <span class="w3-tag w3-teal w3-round tags">Masters Degree</span></p>
                <hr>
              </div>
              <div class="w3-container">
                <a href="http://www.sinhgad.edu/sinhgad-engineering-institutes/" target="_blank"><h5 class="w3-opacity"><b>Univerity of Pune</b></h5></a>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2006 - May 2010</h6>
                <p>Computer Engineering <span class="w3-tag w3-teal w3-round tags">Bachelors Degree</span></p>
                <hr>
              </div>
            </div>

            <div class="w3-container w3-card w3-black">
              <h2 class="w3-text-white w3-padding-16"><i class="fa fa-pencil fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Publications</h2>
              <div class="w3-container">
                <a href="https://medium.com/viewshare" target="_blank"><h5 class="w3-opacity"><b>ViewShare</b></h5></a>
                <p>A platform to portray my thoughts, feelings & expressions in form of words</p>
                <hr>
              </div>
              <div class="w3-container">
                <a href="https://medium.com/how-tos-for-coders" target="_blank"><h5 class="w3-opacity"><b>How To's for Coders?</b></h5></a>
                <p>At How To's, you can find a source highlighting programming hacks, tricks and awesome findings…</p>
                <hr>
              </div>
            </div>
    
        <!-- End Right Column -->
          </div>
        
      <!-- End Grid -->
        </div>
      
      <!-- End Page Container -->
      </div>
    </div>
    </div>
  </div>
