<div class="bgimg w3-display-container w3-text-white">
    <div id="particles-js"></div>
</div>

<div class="w3-display-middle w3-jumbo">
      <img src="../assets/logo/kaushal-shah-logo.png" style="height: 200px;">
</div>
    
<div class="w3-display-left w3-container typewriter">
  <h1 class="my-name"><b>kaushal</b> <b class="redwords">Shah</b></h1><br>
  <p class="w3-large">Engineer | Writer | Poet</p><br>
    <div class="w3 bar w3-container w3-xlarge mobilebuttons" >
      <button onclick="document.getElementById('about').style.display='block'" class="w3-button w3-round-large redbutton">About</button>
      <button onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-round-large redbutton">Resume</button>
      <button onclick="document.getElementById('blog').style.display='block'" class="w3-button w3-round-large redbutton">Blog</button>
    </div>
</div>
